.row
    .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-4
        .login-panel.panel.panel-default
            .panel-heading Log in
            .panel-body
                = form_tag '/login' do
                    %fieldset
                        .form-group
                            #{text_field_tag :email, "", {:class => "form-control", :placeholder => "E-mail", :type => "email", :autofocus => ""}}
                        .form-group
                            #{password_field_tag :password, "", {:class => "form-control", :placeholder => "Password", :type => "password"}}
                        .checkbox
                            %label
                                %input{:name => "remember", :type => "checkbox", :value => "Remember Me"}
                                    Remember Me
                        .form-group
                            \#{submit_tag "Submit", {:class => "btn btn-primary"}}
