<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">500px Test</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Login to 500px API</div>
            <div class="panel-body">
                <form role="form" id="facebook-app-login">
                    <div class="form-group">
                        <label>App Id</label>
                        <input value="107062263013662" class="form-control" placeholder="App Id" id="app-id">
                    </div>
                    <div class="form-group">
                        <label>App Secret</label>
                        <input value="be82a880dcf76aebb2af9abcc0d9ecca" class="form-control" placeholder="App Secret">
                    </div>
                    <button type="submit" class="btn btn-primary">500px Api Login</button>
                </form>
            </div>
        </div>
        <div class="panel panel-default" id="logged-message" style="display: none;">
            <div class="alert bg-success" role="alert">
                <svg class="glyph stroked checkmark">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-checkmark"></use>
                </svg>
                Logged to facebook
                <a href="#" class="pull-right">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>

            <button type="button" class="btn btn-primary" id="get-users-from-application">Get users from application</button>
        </div>
    </div>
</div>